<form [formGroup]="createTobaccoForm" (ngSubmit)="onSave()" class="example-form" *ngIf="brands">
    <div mat-dialog-content class="input-container">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Назва бренду</mat-label>
            <mat-select formControlName="brandId">
                <mat-option *ngFor="let brand of brands" [value]="brand._id" >
                    {{brand.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
<!--        <mat-form-field class="example-full-width" appearance="fill">-->
<!--            <mat-label>Лiнiйка</mat-label>-->
<!--            <mat-select formControlName="lineId">-->
<!--                <mat-option *ngFor="let line of lines" [value]="line._id" >-->
<!--                    {{line.name}}-->
<!--                </mat-option>-->
<!--            </mat-select>-->
<!--        </mat-form-field>-->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Назва тютюну</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Країна виробник</mat-label>
            <input matInput formControlName="madeIn">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Опис</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onCancel()">Вiдмiнити</button>
        <button mat-raised-button color="primary" cdkFocusInitial type="submit">Створити</button>
    </div>
</form>
